header {
    width: 100%;
  }
  .header__container-image {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }
  .image {
    width: 10%;
  }
  .image-logo {
    width: 20%;
    margin: 0 auto;
  }
  .image-carro {
    width: 3%;
    height: 3%;
    margin-right: 6.4em;
  }
  .header__menu{
      width: 90%;
      background-color: black;
      height: 5em;
      margin: 0 auto;
  }
  .menu__list{
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      list-style: none;
      height: 100%;
      align-items: center;
  }
  .list__element{
      color: white;
      font-size: 2em;
      padding: .5em;
      font-family: "cartoon";
      border: 1px solid black;
      cursor: pointer;
  }

  .list__element:hover{
    background-color: white;
    color: black;
    

}
  