.sections {
  display: grid;
  grid-template-rows: 15em 15em;
  grid-template-columns: repeat(3, 28em);
  justify-content: space-between;
  width: 90%;
  gap: 2.5em;
  margin: 0 auto;
}

.sections__cards {
  width: 100%;
  height: 100%;
}

.cards__images {
  width: 100%;
  height: 100%;
}

.image-series:hover {
  cursor: pointer;
}
