.sections__1{
    width: 90%;
    display: flex;
    justify-content: space-evenly;

}

.sections__2{
    width: 90%;
    display: flex;
    justify-content: space-evenly;
    
}
.image-series{
    width: 40%;
}


