header {
  width: 100%;
}
.header__container-image {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.image {
  width: 10%;
}
.image-logo {
  width: 20%;
  margin: 0 auto;
}
.image-carro {
  width: 3%;
  height: 3%;
}
